.background {
    height: 100vh;
    background-image: url('../../res/kelowna-landing-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    padding-top: 1em;
    padding-left: 1em;
}

